body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes at least viewport height */
    margin: 0;
}

.wrapper {
    flex: 1; /* Expand to fill remaining vertical space */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    bottom: 0;
}
